<h1><%= @movie.title %></h1>
<br/>
<h2>Creation Year:</h2> <%= @movie.creation_year %>
<h2>Genre:</h2> <%= @movie.genre %>
<h2>Actors:</h2>
<% @movie.actors.each do |actor|%>
  <p>Name: <%= actor.name %></p>
  <p>Age: <%= actor.age %></p>
<% end %>
