<h1><%= @movie.title %></h1>
<br/>
<h2>Creation Year:</h2> <%= @movie.creation_year %>
<h2>Genre:</h2> <%= @movie.genre %>
<h2>Actors:</h2>
<% @movie.actors.each do |actor|%>
  <p>Name: <%= actor.name %></p>
  <p>Age: <%= actor.age %></p>
<% end %>

<br/>
<h3>Average Age of Actors:</h3> <%= @movie.actors.average_age %>
<br/>
<br/>

<h3>Add an Actor to this Movie:</h3>

  <%= form_with url: "/movies/#{@movie.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Add Actor" %>
  <% end %>


